[submodule "themes/codex"]
	path = themes/codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "themes/themes/resume"]
	path = themes/themes/resume
	url = https://github.com/eddiewebb/hugo-resume.git
